<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="about">
  <div class="main-content">
    {{>header}}
    <img src={{imagePath}} alt="Kutay Etci">
  </div>
  {{>footer}}
</body>

</html>